*{
    font-family: 'Poppins';
}

.image-div-two{
    height:400px;
    width: 80%;
    background-image: url('../assets/Image2.jpg');
    background-repeat: no-repeat;
    background-position: 70%;
    margin: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 10%;
  }

.image-div-content button{
  background-color: #000;
  color: white;
  padding: 2%;
  margin-top: 5%;
}

  .outer-image-div{
    display: flex;
    justify-content: center;
  }
  
  .image-div h4{
    font-weight: 800;
  }
  
  .image-div button{
    background-color: #000;
    border: 1px #000 solid;
    color: #fff;
    margin-top: 15px;
    padding: 4%;
  }
  
  .image-div-content{
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: inline-block;
    padding: 30px;
    position: relative;
    top:25%;
    left: 5%;
    width: 50%;
  }
  
  @media screen and (max-width: 768px){
    .image-div-content{
      display: none;
    }
    .image-div-content-2{
      display: block;
      margin-bottom: 100px;
    }
    .image-div{
      height: 300px;
    }
  
  }
  
  .image-div-content-2{
    display: none;
  }
  
  @media screen and (max-width: 768px){
    .image-div-content-2{
      display: block;
      padding-left: 30px;
    }
  }

  .search-bar{
    margin-top: 20px;
    border: 1px solid black; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    margin-right: 20px;
  }
  
  .search-bar input{
    width: 200px;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 0;
    outline-width: 0;
  }



  .grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
  }


.grid-item {
  padding: 10px;
  width: 50%;
  display: flex;
  justify-content: center;
/* background-color: #f2f2f2; */
}

.grid-item-2{
  font-weight: 800;
  font-size: 150%;
  padding: 20px;
  text-align: center;
}

/* Responsive adjustments using media queries */
@media screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr); /* Change to two columns on smaller screens */
  }
}.flex-and-show-off{
  background-color: #707172;
  padding: 20px;
}

.flex-and-show-off-header{
  font-size: 200%;
  text-align: center;
  padding-bottom: 15px;  
}

.het{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dhruv{
    max-width: 40%;
    /* border: 1px solid black; */
}

.dhruv img{
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
}

.yash{
    padding: 7%;
}

.yash h4{
    font-weight: bolder;
}

.yash:hover h4{
    text-decoration: underline;
    transition-duration: 300s;
}

.moksha{
    margin-bottom:10%;
}

.prachi{
    display: none;
}

.lisa{
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    text-align: center;
}

.one{
    font-size: 250%;
    font-weight: 1000;
    padding-left: 10%;
    padding-right: 10%;
}

.two{
    font-weight: 700;
    font-size: 150%;
    padding-left: 10%;
    padding-right: 10%;
}

.sakshi{
    margin-top: 10%;
}

@media screen and (max-width: 850px) {
    .het{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .dhyana{
        display: none;
    }
    .prachi{
        display: block;
    }
    .dhruv{
        /* border: 1px solid black; */
        max-width:  80%;
        padding-left: 20%;
    }
}